/* styles for navbar */
.navbar {
    display: flex;    
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
}
/* styles for navbar container*/
.navbarContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
    height: 80px;
}
/*styles for navbar menu*/
.navbarMenu{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
    list-style-type: none;
    list-style: none;
}

/*styles for navbar items*/
.navbarItem {
    height: 80px;
}
/*styles for the links themselves*/
.navbarLinks {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
}

/*styles for the navbar button*/
.navbarBtn {
    width: 100%;
}

.navbarLinks:hover {
    color: blue;
}

body {
    background: conic-gradient(from -.5turn at bottom right, deeppink, 
    cyan, rebeccapurple);
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    margin: auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: gray;
    width: 370px;
    height: 350px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0;
    padding: 15px 15px 20px 20px;
}

#userInput {
    box-sizing: border-box;
    width: 100%;
    padding: 35px 5px;
    text-align: right;
    outline: none;
    border: none;
    direction: ltr;
}

.btn {
    width: 24%;
    height: 40px;
    padding-top: 5px;
    outline: none;
    border-radius: 3px;
    background: whitesmoke;    
}

.equals {
    width: 99%;
    height: 40px;
    padding-top: 5px;
    outline: none;
    border-radius: 3px;
    background: whitesmoke;    
}

h1 {
    width: 50%;
    color: purple;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    margin-top: 10%;
}

.btn:hover, .equals:hover {
    background-color: white;
}

/*Styles for MTG page*/

.mtgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imageBox{
    display: flex;
    justify-content: right;
    align-items: right;
}
.imageBox img{
    height: 350px;
    float: right;
}
li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}
li {
    list-style: none;    
}

li a:hover{
    color: #ff6a00;
}
li a:clicked{
    color: black;
}